<html>
	<head>
		<title>Watch Your Worth</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/homepage.css">
	</head>
	<body>
		<nav>
			<div id="icon-container">
				<div id="icon-image"></div>
			</div>
			<div id="login-container">
				<form id="login-form" method="POST" action="">
					<div id="input-container">
						<div class="user-input" id="username-input">
							<p>Username:</p> 
							<p><input name="username" type="text"></p>
						</div>
						<div class="user-input" id="password-input">
							<p>Password:</p> 
							<p><input name="password" type="password"></p>
						</div>
					</div>
					<div id="submit-container">
						<div id="submit-button">
							<input type="submit" value="Log In">	
						</div>
					</div>
				</form>
			</div>
		</nav>
		<main>
			<div id="app-description">
				<p>It's easy to be absentminded about how much you spend on a daily basis. Watch Your Worth makes it simple to keep track of your incomes and expenses so you can see how much money you are actually earning. Every time you spend or earn money, simply input the amount into the application, and the application will return an accurate representation of your cash flow per minute. It's that simple!</p>
			</div>
			<a id="sign-up" href="/signup">
				<div id="sign-up-box">
					Sign up today!
				</div>
			</a>
		</main>
	</body>
</html>